:root {
	--bg-color: #F6F1DE;
	--text-color: black;
	--link-color: #80CBC4;
	--link-hover-color: #FFB433;
	--button-bg: transparent;
	--button-text: inherit;
}

body.dark-mode {
	--bg-color: #1b1b1b;
	--text-color: #FBF8EF;
	--link-color: #FFB433;
	--link-hover-color: #80CBC4;
	--button-bg: transparent;
	--button-text: inherit;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Work Sans", sans-serif;
	padding: 20px;
	opacity: 0;
	transition: opacity 0.8s ease;
	color: var(--text-color);
	background-color: var(--bg-color);
}

h1 {
	font-weight: 800;
	font-size: 3em;
}
h2 {
	font-weight: 600;
	font-size: 1.8em;
}
h3 {
	font-weight: 400;
}
h4 {
	font-size: 1.5em;
}

/* Link Styling */
a {
	color: var(--link-color);
	text-decoration: none;
	transition: all 0.5s ease;
}
a:hover {
	color: var(--link-hover-color);
	transition: all 0.5s ease;
}

p {
	font-size: 1.2em;
}

ul {
	list-style-type: none;
}

.container {
	max-width: 800px;
	margin: auto;
}

/* Greeting Styling */
.greeting {
	font-family: "Work Sans", sans-serif;
}
.greeting .line {
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.8s ease;
}

/* Section Styling */
.section {
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.5s ease;
}
.section-header {
	cursor: pointer;
	transition: all 0.5s ease;
	font-family: "Boldonse";
	display: inline-block;
}
.section-header:hover {
	color: var(--link-hover-color);
	transition: all 0.5s ease
}
.section-content {
	max-height: 0;
	overflow: hidden;
	transition: all 1s ease;
	padding: 10px;
	border-radius: 5px;
}
.section-content.active {
	max-height: 800px;
	transition: all 1s ease;
}

#theme-toggle {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	color: var(--button-text);
	background-color: var(--button-bg);
	transition: all 0.5s ease;
	border: 1px solid var(--text-color);
	border-radius: 5px;
	padding: 5px 10px;
}

#resume {
	border: black 1px solid;
	text-align: center;
}
.title {
	font-weight: 700;
}

/* Footer Styling */
#footer {
	text-align: center;
	font-size: 1em;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 10px;
	opacity: 1;
	font-family: "Jersey 25", "Consolas", monospace;
	color: var(--text-color);
	transition: all 0.5s ease;
}
